.home {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    height: 75vh;
}

img {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 50px;
    width: 75vw;
    max-width: 600px;
}

.links {
    display: grid;
    grid-auto-flow: column; /* makes grid grow horizontally */
    grid-auto-columns: auto;
    gap: 2rem;
}

    .links a {
        font-size: large;
        font-weight: bold;
        text-decoration: none;
        color: var(--secondary-font-color);
        transition: color 0.25s ease;
    }

        .links a:hover {
            color: var(--primary-font-color);
        }
